body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #084C61;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    width: 400px;
    height: 550px;
    background-color: #DB504A;
    overflow-x: auto;
    padding: 16px;
    flex : 0 1 auto;
}

.screen {
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
    border: 3px solid black;
    border-radius: 8px;
    height: 15%;
}

.button {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    height: 20%;
    flex: 1 1 auto;
    overflow:hidden;
}

button:hover {
    background-color: #264653;
}

.mid {
    background-color: #E3B505;
}

.top {
    background-color: #4F6D7A;
}

.right {
    background-color: #56A3A6;
}

#zero {
    width: 50%;
    border-bottom-left-radius: 8px;
}

#topLeft {
    border-top-left-radius: 8px;
}

#bottomRight {
    border-bottom-right-radius: 8px;
}

.topRight {
    border-top-right-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #E3B505;
}

.footer a {
    text-decoration: none;
    color: #56A3A6;
}